body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-form {
  width: 300px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.login-form button:hover {
  background: #ccc;
  color: #000;
}

.login-form h1 {
  text-align: center;
  margin-bottom: 30px;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
}
